{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Recipe</th>
      <th>Favourite</th>
    </tr>
    {% for r in recipes %}
    <tr>
      <td>{{ r.name }}</td>
      <td>{{ r.favourite }}</td>
      <td>
	<form method="POST" action="{{ url_for('recipes_set_favourite', recipe_id=r.id) }}">
	  <input type="submit" value="Toggle favourite"/>
	</form>
      </td>
      <td>
	<form method="POST" action="{{ url_for('recipes_delete', recipe_id=r.id) }}">
	  <input type="submit" value="Delete"/>
	</form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
