{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('recipes_create') }}">
  <table>
      <tr>
	<td>
	  {{ form.name.label }}
	</td>
	<td>
	  {{ form.name }}
	</td>
        <td>
	  <ul>
	    {% for error in form.name.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
	</td>
      </tr>
      <tr>
	<td>
	  {{ form.favourite.label }}
	</td>
	<td>
	  {{ form.favourite }}
	</td>
      </tr>
      <tr>
	<td>
	  {{ form.ingredients.label }}
	</td>
	<td>
	  {{ form.ingredients }}
	</td>
      </tr>
      <tr>
	<td>
	  {{ form.tools.label }}
	</td>
	<td>
	  {{ form.tools }}
	</td>
      </tr>
      <tr>
	<td>
	  {{ form.text.label }}
	</td>
	<td>
	  {{ form.text }}
	</td>
      </tr>
      <tr>
	<td colspan="3">
	  <input type="submit" value="Add a new recipe"/>
	</td>
      </tr>
</form>
{% endblock %}
