{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('recipes_edit', recipe_id=r.id) }}">
  <table>
      <tr>
	<td>
	  {{ form.name.label }}
	</td>
	<td>
	  {{ form.name }}
	</td>
        <td>
	  <ul>
	    {% for error in form.name.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
	</td>
      </tr>
      <tr>
	<td>
	  {{ form.favourite.label }}
	</td>
	<td>
	  {{ form.favourite }}
	</td>
      </tr>
      <tr>
	<td colspan="3">
	  <input type="submit" value="Save changes"/>
	</td>
      </tr>
</form>
<table>
    {% for i in ingredients %}
        <tr>
        <td>{{ i.unit }}</td>
        <td><a>{{ i.name }}</a></td>
        <td>
            <form method="POST" action="{{ url_for('recipes_del_ingredient', recipe_id=r.id, ingredient_id=i.id) }}">
            <input type="submit" value="-"/>
            </form>
        </td>
        </tr>
    {% endfor %}
    <form method="POST" action="{{ url_for('recipes_add_ingredient', recipe_id=r.id) }}">
    <tr>
        <td>
        {{ form2.ingredient.label }}
        </td>
        <td>
        {{ form2.ingredient }}
        </td>
        <td>
        {{ form2.quantity.label }}
        </td>
        <td>
        {{ form2.quantity }}
        </td>
        <td>
            <input type="submit" value="+"/>
        </td>
    </tr>
    </form>
</table>
{% endblock %}
