{% extends "layout.html" %}
  
{% block body %}
<table>
<tr>
{% if current_user.is_authenticated %}
<td>
<form method="POST" action="{{ url_for('recipes_set_favourite', recipe_id=r.id) }}">
    <input class="btn btn-success" type="submit" value="Toggle favourite"/>
</form>
</td>
<td>
<form method="GET" action="{{ url_for('recipes_editpage', recipe_id=r.id) }}">
    <input class="btn btn-warning" type="submit" value="Edit"/>
</form>
</td>
<td>
<form method="POST" action="{{ url_for('recipes_delete', recipe_id=r.id) }}">
    <input class="btn btn-danger" type="submit" value="Delete"/>
</form>
</td>
{% endif %}
</tr>
</table>
<table class="table">
    <tr>
    <td> <b>Name</b> </td>
    <td>
        {{ r.name }}
    </td>
    </tr>
    <tr>
    <td> <b>Favourite</b> </td>
    <td>
        {{ r.favourite }}
    </td>
    </tr>
    <tr>
    <td> <b>Description</b> </td>
    <td>
        {{ r.description }}
    </td>
    </tr>
    <tr>
    <td> <b>Instructions</b> </td>
    <td>
        <pre> {{ r.text }} </pre>
    </td>
    </tr>
<table class="table-responsive">
    <th> <b>Ingredients</b> </th>
    {% for i in ingredients %}
        <tr>
            <td>{{ "{} {}".format(i[1], i[0].unit) }}</td>
            <td><a>{{ i[0].name }}</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
